AI_PROVIDER=AI_PROVIDER
AI_BASE_URL=AI_BASE_URL
AI_MODEL=AI_MODEL
AI_API_KEY=sk-AI_API_KEY
AGENT_MAX_ITERATIONS=2
ORCHESTRATOR_MAX_ITERATIONS=2
AGENT_DB_ADMIN_PASSWORD=AGENT_DB_ADMIN_PASSWORD
AGENT_DB_READONLY_PASSWORD=AGENT_DB_READONLY_PASSWORD
AGENT_DB_HOST=AGENT_DB_HOST
AGENT_DB_PORT=AGENT_DB_PORT
AGENT_DB_NAME=AGENT_DB_NAME
AGENT_DB_USER=AGENT_DB_USER
